.right-block {
	border-left: 1px solid #DEDEDE;
}

select[name="method"], select[name="lang"] {
	width: 290px;
}

.name {
	width: 155px;
}
.type {
	width: 75px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #eee;
}

.type option {
	text-align: center;
}

textarea[name="resp"] {
	width: 276px;
}

select[name="duration"] {
	width: 290px;
}

.active a {
	background-image: url(/static/img/cream_dust.png);
}

#myTab {
	display: none;
}

.tab-pane {
	overflow: none;
}

.tab-pane a {
	float: right;
	color: gray;
	font-size: 14px;
	padding: 2px 8px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#preview p {
	min-height: 550px;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.syntax-helper {
	margin-left: 205px;
	cursor: pointer;
}
