.right-block {
	border-left: 1px solid #DEDEDE;
}

select[name="method"], select[name="lang"] {
	width: 290px;
}

.name {
	width: 155px;
}
.type {
	width: 75px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #eee;
}

.type option {
	text-align: center;
}

textarea[name="resp"] {
	width: 276px;
}

select[name="duration"] {
	width: 290px;
}

.active a {
	background-image: url(/static/img/cream_dust.png);
}

#myTab {
	display: none;
}
