.well-large {
	margin: 10px 20px 0 75px;
	padding-left: 50px;
	background: url(/static/img/note_paper_left.jpg) no-repeat right;
}

dt {
	padding-bottom: 5px;
}

dd {
	padding-bottom: 10px;
}

dd a{
	word-break: break-all;
}
.alert-success {
	padding-left: 40px;
}
