{%extends "base.html"%}
{%block title%}
APIGen: Create a Gen
{%endblock%}

{%block head%}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/create.css">
<script type="text/javascript" src="/static/js/tab.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript" src="/static/js/create.js"></script>
{%endblock%}

{%block main%}
<div class="span6">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#django">Django</a></li>
    <li><a href="#jinja">Jinja</a></li>
    <li><a href="#mako">Mako</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="django">
      <pre>{{django_syntax}}</pre>
    </div>
    <div class="tab-pane" id="jinja">
      <pre>{{jinja_syntax}}</pre>
    </div>
    <div class="tab-pane" id="mako">
      <pre>{{mako_syntax}}</pre>
    </div>
  </div>
</div>
<div class="span6 right-block">
  {%with msgs = get_flashed_messages()%}
  {%if msgs%}
  <div class="alert alert-error">
  <h4>Gen failed! </h4>
  {%if msgs[0] == 'params not allowed'%}
  Illegal character in parameters.
  {%elif msgs[0] == 'query empty'%}
  Both parameters and response can not be empty.
  {%endif%}
  </div>
  {%endif%}
  {%endwith%}
  <form accept-charset="UTF-8" action="/create" class="form-horizontal" method="post" style="margin: 20px 0">
    <input name="params" type="hidden" value="" />
    <div class="control-group">
      <label class="control-label">Which method?</label>
      <div class="controls">
        <select class="input-xlarge" name="method">
          <option value="get">Get</option>
          <option value="post">Post</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">What parameters?</label>
      <div class="controls">
        <ul class="unstyled" id="params">
          <li class="param input-append input-prepend">
            <span class="add-on">name</span>
            <input type="text" class="name"/>
            <select class="type">
              <option value="int">int</option>
              <option value="string" selected="selected">string</option>
            </select>
          </li>
          <li class="param input-append input-prepend">
            <span class="add-on">name</span>
            <input type="text" class="name"/>
            <select class="type">
              <option value="int">int</option>
              <option value="string" selected="selected">string</option>
            </select>
          </li>
          <li class="param input-append input-prepend">
            <span class="add-on">name</span>
            <input type="text" class="name"/>
            <select class="type">
              <option value="int">int</option>
              <option value="string" selected="selected">string</option>
            </select>
          </li>
        </ul>
        <div class="add">
          <button class="btn">Add</button>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Which markup?</label>
      <div class="controls">
        <select class="input-xlarge" name="lang">
          <option value="django">Django</option>
          <option value="jinja">Jinja</option>
          <option value="mako">Mako</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">How to response?</label>
      <div class="controls">
        <textarea class="input-xlarge" cols="40" name="resp" placeholder="How you want it to response? What is the response like?" rows="10"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Run this for</label>
      <div class="controls">
        <select name="duration">
          <option value="2" selected="selected">Two days</option>
          <option value="14">Two weeks</option>
          <option value="30">One Month</option>
          <option value="">Until I choose a winner</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-danger" type="submit" value="Gen Me!" />
      </div>
    </div>
  </form>
</div>
{%endblock%}

