<!doctype html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>apigen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/create.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/create.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <form method="POST" action="/create" class="form-horizontal">
                    <input type="hidden" name="params" />
                    <div class="control-group">
                        <div class="control-label">Method</div>
                        <div class="controls">
                            <select name="method">
                                <option>GET</option>
                                <option>POST</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-label">Parameters</div>
                        <div class="controls">
                            <ul class="unstyled" id="params">
                                <li class="param">
                                    <label>name</label>
                                    <input type="text" class="name"/>
                                    <label>type</label>
                                    <input type="text" class="type"/>
                                </li>
                            </ul>
                            <div class="add">
                                <button class="btn">Add</button>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-label">
                            Response
                        </div>
                        <div class="controls">
                            <textarea name="resp"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="submit" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
